[profile.dev]
incremental = false
codegen-units = 1
debug = true
lto = false
opt-level = "s" # Optimize for size even in debug builds

[profile.release]
incremental = false
codegen-units = 1
debug = true # Required for defmt
lto = false
opt-level = "s"

[profile.release.package.esp-wifi]
opt-level = 3

[patch.crates-io]
# ariel-os embassy forks

# branch = "embassy-embedded-hal-v0.3.0+ariel-os",
embassy-embedded-hal = { git = "https://github.com/ariel-os/embassy", rev = "21147bdceb85f55e375973f30e47c17036063689" }
# branch = "embassy-executor-v0.7.0+ariel-os",
embassy-executor = { git = "https://github.com/ariel-os/embassy", rev = "a3c1bb2878df6b977f086356688033fe585683e4" }
# branch = "embassy-executor-macros-v0.6.2+04.04.25"
embassy-executor-macros = { git = "https://github.com/ariel-os/embassy", rev = "1b08496e441cfd2b2e9660fe0cc589c3bc5f0824" }
# branch = "embassy-hal-internal-v0.2.0+ariel-os"
embassy-hal-internal = { git = "https://github.com/ariel-os/embassy", rev = "ed7d22c1881b64f9bdd2e69a5777b002279033a6" }
# branch = "embassy-nrf-v0.8.0+ariel-os"
embassy-nrf = { git = "https://github.com/ariel-os/embassy", rev = "3940a79a29ae578a35625cae949bea473abf21d1" }
# branch = "embassy-net-v0.6.0+ariel-os"
embassy-net = { git = "https://github.com/ariel-os/embassy", rev = "3d9f77ee05cdb18f1cd676233bcda9b6f7be3369" }
# branch = "embassy-rp-v0.4.0+ariel-os"
embassy-rp = { git = "https://github.com/ariel-os/embassy", rev = "dab783fcee77ed024728de37a2ea4cb26de7d01c" }
# branch = "embassy-stm32-v0.2.0+ariel-os"
embassy-stm32 = { git = "https://github.com/ariel-os/embassy", rev = "90c8da09646d5fd97b7d416720688dcd3da1ecfb" }
# branch = "embassy-time-v0.5.0+ariel-os"
embassy-time = { git = "https://github.com/ariel-os/embassy", rev = "32919cd38e4a5ad5fc21dfb339abd45a74bd1dc9" }

# ariel-os esp-hal fork, using branch = "esp-hal-v1.0.0+20251203+ariel-os"
esp-alloc = { git = "https://github.com/ariel-os/esp-hal", rev = "7a8436fe3ce6e6b8194a5c2d4259638b699fb331" }
esp-hal = { git = "https://github.com/ariel-os/esp-hal", rev = "7a8436fe3ce6e6b8194a5c2d4259638b699fb331" }
esp-println = { git = "https://github.com/ariel-os/esp-hal", rev = "7a8436fe3ce6e6b8194a5c2d4259638b699fb331" }
esp-radio = { git = "https://github.com/ariel-os/esp-hal", rev = "7a8436fe3ce6e6b8194a5c2d4259638b699fb331" }
esp-storage = { git = "https://github.com/ariel-os/esp-hal", rev = "7a8436fe3ce6e6b8194a5c2d4259638b699fb331" }
xtensa-lx-rt = { git = "https://github.com/ariel-os/esp-hal", rev = "7a8436fe3ce6e6b8194a5c2d4259638b699fb331" }

# branch = "v0.6.2+ariel-os"
embedded-test = { git = "https://github.com/ariel-os/embedded-test", rev = "20642538eb4e6fa44b5f37723b07946c74b5c757" }
